#page{
    background-color: #f3e8fc;
    padding: 5px;
}
h1 {
    color: #FFA4AC;
    text-align: center;
    font-family: 'Gill Sans';
}

p {
    font-family: 'Georgia';
}
p1 {
    font-family: 'Georgia';
    color: #FFA4AC;
    font-family: 'Gill Sans';
    font-weight: bold;
    text-decoration: underline;
}

span.special-text {
    color: #D8BDF5;
    font-family: 'Gill Sans';
    font-weight: bold;
}

span.special-text2 {
    color: #FFA4AC;
    font-family: 'Gill Sans';
    font-weight: bold;
    text-decoration: underline;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 10px;
    background-color: #FFA4AC;
    color: white;

}

table caption {
    color: #FFA4AC;
    text-align: center;
    font-family: 'Gill Sans';
    font-weight: bold;
}

table thead {
    font-family: 'cursive';
    background-color: #D8BDF5;
    color: white;
}

table td, th {
    text-align: center;
    border: 1px solid #000;
    font-family: 'cursive';
}

span.special-text3 {
    text-align: center;
    font-family: 'Arial';
}

marquee {
    color: #D8BDF5;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Gill Sans';
}

* {
    box-sizing: border-box;
  }
  
/* For mobile phones: */
    [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* for tablets */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* for desktop */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

/*for tablichka*/
@media (min-width: 768px)
{
    table {
        width: 50%;
    }
}

@media (max-width: 767px)
{
    table {
        width: 95%; 
    }
}

/*for image*/
@media (min-width: 900px)
{
    img {
        max-width: 100%; 
    }
}

@media (max-width: 900px)
{
     img {
        max-width: 70%; 
    }
}

@media screen and (max-width: 1000px) {
    #page img {
        max-width: 100%; 
}
}